# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Vercel deployment cache
.vercel

# Environment variables (CRITICAL)
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Compiler cache
cache/
.eslintcache

# OS files
.DS_Store
Thumbs.db

# Ignores development broadcast logs (Your existing Web3 rules)
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/