@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Restoring your custom shapes */
  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;
  --radius-full: 9999px;
}

body {
  background-color: #F8F9FA;
  color: #0f172a;
}